{% extends 'common/base.html' %} {% block title %} Delete Category {% endblock%} 
{% block content %}
<div class="py-3 py-md-4 bg-light">
  <div class="container">
    <div class="row confirm-box">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Are you sure?</h4>
        <p>
          After deleting <strong>{{category.name}}</strong> category, all
          associated product(s) will be removing permanently.
        </p>
        <hr />
        <div class="mb-0">
          <form method="post">
            <button type="submit" class="btn btn-danger">Confirm?</button>
            <a href="/category/list">
              <button type="button" class="btn btn-secondary">Cancel</button>
            </a>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
