{% extends 'common/base.html' %} 
{% block title %} Our Category {% endblock %}
{% block content %}
<div class="py-3 py-md-4 bg-light">
  <div class="container">
    <div class="row">
      <h3 class="mb-3 main-title">Our Category</h3>
      {% if categories %} {% for category in categories %}
      <div class="col-6 col-md-3">
        <form action="/" method="post">
          {% csrf_token %}
          <input
            type="checkbox"
            name="cat"
            id="cat_{{category.id}}"
            value="{{category.id}}"
            checked
            class="--hide"
          />
          <div class="category-card">
            <div class="category-card-img">
              <img
                src="/media/{{category.image}}"
                class="h-100"
                alt="{{category.name}}"
              />
            </div>
            <div class="category-card-body">
              <h5>
                <button type="submit" class="btn btn-link">
                  {{category.name}}
                </button>
              </h5>
            </div>
          </div>
        </form>
      </div>
      {% endfor%} {%else%}
      <p>No, Category available.</p>
      {%endif%}
    </div>
  </div>
</div>
{% endblock %}
